@font-face {
    font-family: "Monocraft";
    src: url("../font/Monocraft.otf") format("opentype");
}

* {
    font-family: "Monocraft";
    font-weight: normal;
}

html {
    background-image: url("../img/dirt.png");
    background-position: fixed;
    background-repeat: no-repeat;
    background-position: fixed;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 22px;
}

input[type="text"] {
    padding: 10px;
    width: 400px;
    background-color: black;
    border: solid white 2px;
    color: white;
    font-size: 20px;
}

button {
    padding: 10px;
    width: 200px;
    background-image: url("../img/button.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 2px;
    color: white;
    font-size: 20px;
}

button:hover {
    border: solid white 2px;
    cursor: pointer;
}
